* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.main-wrapper {
    height: calc(100vh - 90px);
    display: flex;
}

#toolbar {
    height: 90px;
    background-color: #282828;
    color: white;
}

.sidebar-menu {
    /* border: 5px solid red; */
    flex-basis: 230px;
    flex-shrink: 0;
    background-color: black;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sidebar-p-borderbottom {
    background-color: #5A5A5A;
    padding: 3px;
    margin: 23px;
    margin-top: 0px;
}

#icon-size-small {
    font-size: 15px;
}

.logo {
    color: white;
    padding: 23px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 5px;
}

.logo h2 {
    display: inline-block;
    font-size: 33px;
    line-height: 11px;
}

.logo i {
    font-size: 44px;
}

.sidebar-p {
    color: #717171;
    padding: 23px;
    padding-top: 0px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 5px;
}

.sidebar-p:hover {
    color: white;
}

.sidebar-p i {
    font-size: 33px;
}

#icon-translate {
    position: relative;
    left: -9px;
    top: -5px;
    transform: rotate(30deg);
    font-size: 21px;
}

#p-translate {
    position: relative;
    left: -10px;
}

#titolo-playlist {
    text-transform: uppercase;
    padding: 23px;
}

#plus-sing-flex {
    column-gap: 10px;
}

#plus-sign {
    font-size: 55px;
}

#plus-sign-p {
    font-size: 19px;
}

.nome-Playlist {
    color: #717171;
}

.nome-Playlist p {
    padding: 23px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.nome-Playlist p:hover {
    color: white;
}

#padding-item-2 {
    padding-top: 25px;
}

.main-content {
    /* border: 5px solid green; */
    flex-grow: 1;
    background-color: #141922;
    overflow-y: scroll;
    position: relative;
    padding-top: 120px;
}

.upgrade-banner {
    min-height: 90px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

#toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.toolbar-item {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-height: 100%;
}

.toolbar-item-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15vw;
}

.min-width2 {
    min-width: 200px;
}

.gap {
    gap: 10px;
}

.height-1 {
    height: 90px;
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 10vw;
}

.flex1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 3vw;
    flex-wrap: wrap;
    column-gap: 10px;
}

.margin {
    margin: 0;
    margin-right: 50%;
}

#margin2 {
    margin-right: 0px;
}

#width1 {
    width: 10vw;
}

.toolbar-item2 {
    padding-top: 10px;
}

#width-centrale {
    width: 30vw;
    justify-content: center;
    column-gap: 2vw;
    margin-bottom: 10px;
}

.barra-traccia {
    border-radius: 4px;
    background-color: #5A5A5A;
    height: 4px;
    padding: 1px;
    flex-grow: 1;
}

#width-centrale2 {
    width: 30vw;
    justify-content: space-between;
    column-gap: 2vw;
}

.barra-traccia-2 {
    border-radius: 4px;
    background-color: white;
    height: 4px;
    padding: 1px;
    width: 5.3vw;
}

.cerchietto {
    position: relative;
    top: -7px;
    left: 5vw;
    border-radius: 50%;
    background-color: transparent;
    height: 9px;
    padding: 1px;
    width: 10px;
}

.cerchietto:hover {
    background-color: white;
    transition-duration: 0.5s;
}

#width-destra {
    width: 14vw;
    column-gap: 1vw;
    flex-wrap: wrap;
}

#barra2 {
    width: 2.3vw;
}

#cerchietto2 {
    position: relative;
    top: -7px;
    left: 2vw;
}

.icon {
    font-size: 11px;
}

.icon2 {
    font-size: 30px;
}

.button {
    text-transform: uppercase;
    padding: 15px;
    text-align: center;
    width: 300px;
    position: absolute;
    top: 15px;
    right: 10px;
    border: 3px solid white;
    border-radius: 30px;
}

.nav-2 li {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    margin: 15px;
    color: rgb(141, 141, 141);
}

.nav-2 {
    max-width: 850px;
    margin: 0 auto;
}

.underline {
    width: 2vw;
    padding: 1px;
    margin: 0 auto;
}

li:hover > .underline {
    background-color: lime;
}

.main-container {
    padding: 20px;
}

.main-container h1 {
    margin-bottom: 40px;
}

.main-flex-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    margin-right: 20px;
    position: relative;
}

.card h4, .card p {
    margin-top: 10px;
    text-align: center;
}

.card h4 {
    font-size: 19px;
}

.card p {
    margin-top: 5px;
    color: rgb(141, 141, 141);
}

.card img:hover {
    filter: opacity(50%);
}

.card i {
    font-size: 44px;
    position: absolute;
    top: 77px;
    right: 77px;
    visibility: hidden;
}

.card:hover > div > i  {
    visibility: visible;
}

.secondo-titolo {
    margin-top: 40px;
}

.secondo-titolo h1 {
    margin-bottom: 10px;
}

.secondo-titolo p {
    color: rgb(141, 141, 141);
    margin-bottom: 40px;
}

.foto-cerchio {
    border-radius: 250px;
}

.foto-cerchio img {
    overflow: hidden;
}