* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
}

img {
    max-width: 100%;
}

#toolbar, .main-wrapper {
    /* border: 2px solid; */
    /* padding: 20px; */
}

.main-wrapper {
    height: calc(100vh - 90px);
    display: flex;
}

#toolbar {
    height: 90px;
    background-color: #282828;
    color: white;
}

.sidebar-menu {
    /* border: 5px solid red; */
    flex-basis: 230px;
    flex-shrink: 0;
    background-color: black;
}

.main-content {
    /* border: 5px solid green; */
    flex-grow: 1;
    background-color: #141922;
    overflow-y: scroll;
    position: relative;
    padding-top: 120px;
    z-index: -1;
}

.upgrade-banner {
    min-height: 90px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

#toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.toolbar-item {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-height: 100%;
}

.toolbar-item-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15vw;
}

.gap {
    gap: 10px;
}

.height-1 {
    height: 90px;
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.flex1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 2vw;
}

.margin {
    margin: 0;
}

#width1 {
    width: 7vw;
}

.toolbar-item2 {
    padding-top: 10px;
}

#width-centrale {
    width: 30vw;
    justify-content: center;
    column-gap: 2vw;
    margin-bottom: 10px;
}

.barra-traccia {
    border-radius: 4px;
    background-color: #5A5A5A;
    height: 4px;
    padding: 1px;
    flex-grow: 1;
}

#width-centrale2 {
    width: 30vw;
    justify-content: space-between;
    column-gap: 2vw;
}

.barra-traccia-2 {
    border-radius: 4px;
    background-color: white;
    height: 4px;
    padding: 1px;
    width: 5.3vw;
}

.cerchietto {
    position: relative;
    top: -7px;
    left: 5vw;
    border-radius: 50%;
    background-color: transparent;
    height: 9px;
    padding: 1px;
    width: 10px;
}

.cerchietto:hover {
    background-color: white;
    transition-duration: 0.5s;
}

#width-destra {
    width: 14vw;
    column-gap: 1vw;
}

#barra2 {
    width: 2.3vw;
}

#cerchietto2 {
    position: relative;
    top: -7px;
    left: 2vw;
}

.icon {
    font-size: 11px;
}

.icon2 {
    font-size: 30px;
}